
#sessions-new {
  
  h2 {
    margin-bottom: 50px;
  }

  input#email {
    margin-bottom: 20px;
  }

  #email-label {
    margin-right: 100px;
  }

  #password-label {
    margin-right: 80px;
  }


}