<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      

      <div ng-if="cardSide === 'front'" class="modal-body">
        <h7>{{ card.front }}</h7>

        <div class="row">
           <div class="col-xs-12">
             <a class="text-center" ng-click="cardSide = 'back'"><p>Show Answer</p></a>
           </div>

           
        </div>
      </div>

      <div ng-if="cardSide === 'back'" class="modal-body">
        <h7>{{ card.back }}</h7>

        <div class="row">
           <div class="col-xs-2">
             <a><p>Easy</p></a>
           </div>

           <div class="col-xs-2">
             <a><p>Medium</p></a>
           </div>

           <div class="col-xs-2">
             <a><p>Hard</p></a>
           </div>

           <div class="col-xs-2">
             <a ng-click="redoCard()"><p>Wrong</p></a>
           </div>

           <div class="col-xs-4">
           </div>
        </div>
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>